<div class="container faq">
  <div class="title">
    <p>Perguntas Frequentes</p>
  </div>
  <hr>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        O que é Pandora Livos?
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Somos um comércio eletrônico de venda de livros.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        Como posso entrar em contato com vocês?
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Se você quiser entrar em contato conosco, pode nos enviar um email para luanakdelima@gmail.com
      </div>
    </div>
  </div>
</div>
