<footer class="footer-distributed">

    <div class="footer-left">
  
      <h3>Pandora<span> Livros </span></h3>
  
      <p class="footer-links">
        <a routerLink="/">Home</a>
  
        <a routerLink="/browse">Livros</a>
  
        <a routerLink="/faq">FAQ</a>
      </p>
  
      <p class="footer-company-name">Luana Kunzler &copy; 2023</p>
    </div>
  
    <div class="footer-center">
  
  
  
      <div>
        <i class="fa fa-user"></i>
        <p>Luana Kunzler</p>
      </div>
  
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:luanakdelima@gmail.com">luanakdelima@gmail.com</a></p>
      </div>
  
    </div>
  
    <div class="footer-right">
  
      <p class="footer-company-about">
        <span>Sobre Pandora</span>
        Pandora Livros é um site de demonstração sobre o fluxo de comércio eletrônico personalizado de livros.
        Os livros listados não são reais e não coletamos nenhuma informação de pagamento.
        Aconselhamos a não usar suas informações pessoais ou de pagamento reais.
      </p>
  
      <div class="footer-icons">
  
        <a href="https://www.linkedin.com/in/luana-f%C3%A1tima-kunzler-de-lima-490b45a5/" rel="noopener noreferrer" target="_blank"><i
            class="fa fa-linkedin"></i></a>
        <a href="https://github.com/LuanaKunzler" rel="noopener noreferrer" target="_blank"><i class="fa fa-github"></i></a>
  
      </div>
  
    </div>
  
  </footer>
  