<div class="bar">
    <div class="row">
      <div class="col-md-3">
        <p class="{{activeStep >= 0 ? 'active': ''}}">Informações pessoais</p>
      </div>
      <div class="col-md-3">
        <p class="{{activeStep >= 1 ? 'active': ''}}">Envio</p>
      </div>
      <div class="col-md-3">
        <p class="{{activeStep >= 2 ? 'active': ''}}">Pagamento</p>
      </div>
      <div class="col-md-3">
        <p class="{{activeStep >= 3 ? 'active': ''}}">Revisar e confirmar</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ngb-progressbar type="info" [value]="activeValue" height="5px"></ngb-progressbar>
      </div>
    </div>
  </div>
  