.email-verification {
  position: relative;
  top: 250px;
  min-height: 50vh;
  span {
    font-size: 10em;
  }
  p {
    margin-top: 10px;
    text-align: center;
  }
  .login{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

  .controls {    
    button,
    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 20%;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
      border-radius: 10px;
      flex-direction: row;
    }

    .home,
    .books {
      text-align: center;
      color: #333;
      font-weight: bold;
    }
  }
}
