<div class="success container">
  <div class="row">
    <div class="col-md-12 col-12 text-center">
      <span
        class="fa-sharp fa-regular fa-circle-check"
        style="color: #f4ea39"
      ></span>
    </div>
  </div>
  <div class="controls col-md-12 col-12">
    <div class="row d-flex flex-column align-items-center">
        <p>Pedido realizado com sucesso!</p>
          <a class="btn btn-info home" routerLink="/">Início</a>
          <a class="btn btn-secondary orders" routerLink="/account/orders"
            >Pedidos</a
          >
    </div>
  </div>
</div>
