<div class="forgot-password container">
  <div class="title row">
    <span class="pandora">Pandora</span>
    <span class="livros">Livros</span>
    <span class="subtitle"
      >Por favor, insira o e-mail associado à sua conta.</span
    >
  </div>
  <div *ngIf="innerLoading" class="loader"></div>
  <ngb-toast [class]="'bg-danger text-light'" *ngIf="errorAlertVisible" [autohide]="true" [delay]="5000" (hidden)="errorAlertVisible = false">
    Um erro ocorreu. Atualize sua página.
    <button type="button" class="btn-close" aria-label="Fechar" (click)="errorAlertVisible = false"></button>
  </ngb-toast>  
  <ngb-toast style="width: 500px; height: auto;" [class]="'bg-success text-light'" *ngIf="successAlertVisible" [autohide]="true" [delay]="5000" (hidden)="successAlertVisible = false">      
    Um link de verificação foi enviado para o seu email!
    <button type="button" class="btn-close" aria-label="Fechar" (click)="successAlertVisible = false"></button>
  </ngb-toast> 
  <div *ngIf="!innerLoading" class="row">
    <div class="col-md-6">
      <form
        [formGroup]="forgotPasswordForm"
        (submit)="onForgotPasswordFormSubmit()"
      >
        <div class="form-group">
          <label for="email"></label>
          <input
            type="text"
            id="email"
            class="form-control"
            name="email"
            placeholder="Email"
            formControlName="email"
            [maxlength]="240"
          />
          <span
            *ngIf="
              forgotPasswordForm.get('email').invalid &&
              forgotPasswordForm.get('email').touched
            "
            class="alert-danger"
          >
            Por favor digite um email válido!
          </span>
        </div>

        <button
          class="btn btn-info"
          type="submit"
          [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.pending"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
