.forgot-password {
  position: relative;
  top: 150px;
  min-height: 50vh;

  .title {
    color: #333;
    font-size: 24px;

    .pandora {
      font-size: 4em;
      line-height: 1em;
      margin-left: 15px;
    }
    
    .livros {
      position: absolute;
      top: 108px;
      left: 5px;
      margin-top: -0.5em;
      font-size: 1em;
      transform: rotate(-90deg);
      transform-origin: top left;
      white-space: nowrap;
    } 
    
    .subtitle {
      font-size: 0.6em;
      margin-left: 10px;
    }
  }

  input,
    button {
      border-radius: 10px;
    }

    button {
      margin-top: 20px;
      background-color: #f4ea39;
      border-color: #f4ea39;
      color: #333;
    }

  input:focus {
    outline: none;
    border-color: #f4ea39;
    box-shadow: 0 0 5px #f4ea39;
  }

  .alert-danger {
    position: relative;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  hr {
    margin-right: 51%;
    padding: 0;
  }
}