<div class="search container">
    <div class="title">
      <h3>Procurar Resultados</h3>
      <p><span class="highlight">{{books.length}}</span> resultado<span *ngIf="books.length > 1">s</span> encontrado<span *ngIf="books.length > 1">s</span> para 
        <span class="highlight">{{keyword}}</span>
      </p>
    </div>
  
    <div class="col-12 col-sm-6 col-md-12">
      <div class="row">
        <div *ngFor="let book of books" class="search-result col-md-3">
          <div class="search-card">
            <a routerLink="/book/{{book.bookUrl}}">
              <img src="{{book.imageUrl}}" alt="{{book.title}}">
              <hr>
              <p class="book-title">{{book.title}}</p>
              <div class="row">
                <div class="col-md-6">
                  <p>R$ {{book.unitPrice}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  
    <hr *ngIf="!canFetch">
  </div>
  