<div class="signin container">
  <div class="title row">
    <span class="pandora">Pandora</span>
    <span class="livros">Livros</span>
    <span class="subtitle">Bem-vindo de volta a Pandora</span>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let e of (authorizationState | async)?.errors">
        <div *ngIf="e.errorEffect == 'SIGN_IN'" class="alert-warning">
          <div *ngIf="e.error.status === 400">Credenciais inválidas</div>
          <div *ngIf="e.error.status === 401">Erro 401</div>
          <div *ngIf="e.error.status === 500 || e.error.status === 0">
            Erro do Servidor Interno! Entre em contato com nossa equipe de
            suporte.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form row">
    <div class="col-md-12">
      <div *ngIf="(authorizationState | async)?.loading" class="loader"></div>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmitted()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            name="email"
            formControlName="email"
            [maxlength]="240"
          />
          <span
            *ngIf="
              signInForm.get('email').invalid && signInForm.get('email').touched
            "
            class="alert-danger"
          >
            Por favor digite um email válido!
          </span>
        </div>

        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            formControlName="password"
            [maxlength]="240"
          />
          <span
            *ngIf="
              signInForm.get('password').invalid &&
              signInForm.get('password').touched
            "
          >
            <span
              *ngIf="signInForm.get('password').errors.required"
              class="alert-danger"
              >Este campo é obrigatório!</span
            >
            <span
              *ngIf="signInForm.get('password').errors.minlength"
              class="alert-danger"
              >A senha deve ter pelo menos 6 dígitos!</span
            >
          </span>
        </div>

        <div class="forgot row">
          <div class="col-md-12">
            <a routerLink="/forgot-password">
              <p>Esqueceu sua senha?</p>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button
              class="btn btn-info"
              type="submit"
              [disabled]="
                signInForm.invalid ||
                signInForm.pending ||
                (authorizationState | async)?.loading
              "
            >
              Entrar
            </button>
          </div>
        </div>
        
      </form>
      <div class="line-with-text">
        <hr />
        <span>OU</span>
        <hr />
      </div>

      <button (click)="onGoogleSignIn()" class="google-button">
        <span class="google-icon"></span>
        Entrar com Google
      </button>

      <div class="signup row">
        <div class="col-md-12">
          <a routerLink="/signup">
            <p>Não tem uma conta? <span>Cadastre-se!</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
