<div class="password-forgot-verification container">
  <div class="row">
    <div *ngIf="isVerified == true" class="col-md-6">
      <div class="title row">
        <span class="livros">Livros</span>
        <span class="pandora">Pandora</span>
        <span class="subtitle">Criar uma nova senha</span>
      </div>
      <ngb-toast [class]="'bg-danger text-light'" *ngIf="errorAlertVisible" [autohide]="true" [delay]="5000" (hidden)="errorAlertVisible = false">
        Um erro ocorreu. Atualize sua página.
        <button type="button" class="btn-close" aria-label="Fechar" (click)="errorAlertVisible = false"></button>
      </ngb-toast>
      
      <ngb-toast style="width: 500px; height: auto;" [class]="'bg-success text-light'" *ngIf="successAlertVisible" [autohide]="true" [delay]="5000" (hidden)="successAlertVisible = false">      
        Senha alterada com sucesso! Faça login novamente.
        <button type="button" class="btn-close" aria-label="Fechar" (click)="successAlertVisible = false"></button>
      </ngb-toast> 
      <form
        [formGroup]="forgotPasswordResetForm"
        (submit)="onForgotPasswordResetFormSubmit()"
        class="p-2 pb-4"
      >
        <div formGroupName="newPasswordGroup">
          <div class="form-group">
            <label for="newPassword"></label>
            <input
              type="password"
              id="newPassword"
              class="form-control"
              name="newPassword"
              placeholder="Nova Senha"
              formControlName="newPassword"
              [maxlength]="140"
            />
            <span
              *ngIf="
                forgotPasswordResetForm.get('newPasswordGroup.newPassword')
                  .invalid &&
                forgotPasswordResetForm.get('newPasswordGroup.newPassword')
                  .touched
              "
            >
              <span
                *ngIf="
                  forgotPasswordResetForm.get('newPasswordGroup.newPassword')
                    .errors['required']
                "
                class="alert-danger"
                >Campo requerido!</span
              >
              <span
                *ngIf="
                  forgotPasswordResetForm.get('newPasswordGroup.newPassword')
                    .errors['minlength']
                "
                class="alert-danger"
                >A senha deve ter pelo menos 6 dígitos!</span
              >
            </span>
          </div>

          <div class="form-group">
            <label for="newPasswordConfirm"></label>
            <input
              type="password"
              id="newPasswordConfirm"
              class="form-control"
              name="newPasswordConfirm"
              placeholder="Repita a Senha"
              formControlName="newPasswordConfirm"
              [maxlength]="140"
            />
            <span
              *ngIf="
                forgotPasswordResetForm.get(
                  'newPasswordGroup.newPasswordConfirm'
                ).invalid &&
                forgotPasswordResetForm.get(
                  'newPasswordGroup.newPasswordConfirm'
                ).touched
              "
            >
              <span
                *ngIf="
                  forgotPasswordResetForm.get(
                    'newPasswordGroup.newPasswordConfirm'
                  ).errors['required']
                "
                class="alert-danger"
                >Campo requerido!</span
              >
              <span
                *ngIf="
                  forgotPasswordResetForm.get(
                    'newPasswordGroup.newPasswordConfirm'
                  ).errors['minlength']
                "
                class="alert-danger"
                >A senha deve ter pelo menos 6 dígitos!</span
              >
            </span>
          </div>

          <span
            *ngIf="
              forgotPasswordResetForm.get('newPasswordGroup').invalid &&
              forgotPasswordResetForm.get('newPasswordGroup').touched
            "
          >
            <span
              *ngIf="
                forgotPasswordResetForm.get('newPasswordGroup').errors !=
                  null &&
                forgotPasswordResetForm.get('newPasswordGroup').errors[
                  'noMatch'
                ]
              "
              class="alert-danger"
              >As senhas devem corresponder!</span
            >
          </span>
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="
            forgotPasswordResetForm.invalid || forgotPasswordResetForm.pending
          "
        >
          Salvar
        </button>
      </form>
    </div>
    <div *ngIf="isVerified == false" class="col-md-6">
      Um erro ocorreu. Verifique se o seu link é válido e tente novamente.
    </div>
  </div>
</div>
