<mat-sidenav-container class="admin-sidenav-container" autosize>
  <mat-sidenav #sidenav class="admin-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        Dashboard
      </mat-list-item>
      <mat-list-item>
        Usuários
      </mat-list-item>
      <mat-expansion-panel class="admin-sidenav-item" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header class="admin-expansion-panel-header">
            <a mat-panel-title routerLink="#">Produtos</a>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="#">
                Categorias
            </a>
            <a mat-list-item routerLink="#">
                Autores
            </a>
            <a mat-list-item routerLink="#">
                Descontos
            </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-list-item>
        Pedidos
      </mat-list-item>
      <mat-list-item>
        Descontos
      </mat-list-item>
      <mat-list-item>
        Relatórios
      </mat-list-item>

      
    </mat-nav-list>
  </mat-sidenav>

  <div class="admin-sidenav-content">Main content that resizes properly</div>
</mat-sidenav-container>
